.card-list-grid-container {
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  width: 90vw;
  max-width: 1170px;
  max-width: var(--max-width);
  display: grid;
  grid-gap: 2rem;
  gap: 2rem;
  margin: 0 auto;
  padding-bottom: 5rem;
  padding-top: 3rem;

  .card-list {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;

    .card-list-poster {
      background-color: #fff;
    }

    .card-list-additional-info {
      width: 90%;
      position: absolute;
      top: 30px;
      font-weight: bolder;
      font-size: 2.5em;
      text-align: center;
      z-index: 21;
      color: white;
      background-color: rgba(0, 0, 0, 0.85);
      overflow: hidden;

      .card-list-year {
        display: block;
        color: indigo;
      }
    }
    img {
      height: 60vh;
    }
  }

}
