.home-title {
  margin-top: 50px;
  font-size: 4em;
}

.home-search-warning {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 10px solid red;
  width: 20vw;
  height: 4vh;
  color: red;
}
